@model Fall2024_Assignment3_tbclements.Models.MovieCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.Id" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.IMDBLink" class="control-label"></label>
                <input asp-for="Movie.IMDBLink" class="form-control" />
                <span asp-validation-for="Movie.IMDBLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.YearOfRelease" class="control-label"></label>
                <input asp-for="Movie.YearOfRelease" class="form-control" />
                <span asp-validation-for="Movie.YearOfRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" type="file" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Multi.Members" class="control-label"></label>
                <input asp-for="Multi.Members" type="hidden" id="selectedmemebers" value="@Model.Multi.SelectedActors" />
                @Html.DropDownListFor(x => x.Multi.Members, Model.Multi.ActorList, new
                    {
                        @id = "Members",
                        @class = "select2 form-select",
                        multiple =
                         "multiple",
                        tabindex = "3"
                    })
                <span asp-validation-for="Multi.Members" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
