@model Fall2024_Assignment3_tbclements.Models.ActorCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Actor.Id" />
            <div class="form-group">
                <label asp-for="Actor.Name" class="control-label"></label>
                <input asp-for="Actor.Name" class="form-control" />
                <span asp-validation-for="Actor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Gender" class="control-label"></label>
                <input asp-for="Actor.Gender" class="form-control" />
                <span asp-validation-for="Actor.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.Age" class="control-label"></label>
                <input asp-for="Actor.Age" class="form-control" />
                <span asp-validation-for="Actor.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.IMDBLink" class="control-label"></label>
                <input asp-for="Actor.IMDBLink" class="form-control" />
                <span asp-validation-for="Actor.IMDBLink" class="text-danger"></span>
            </div>
            <div class="form-photo">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" type="file" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Multi.Members" class="control-label"></label>
                <input asp-for="Multi.Members" type="hidden" id="selectedmemebers" value="@Model.Multi.SelectedMovies" />
                @Html.DropDownListFor(x => x.Multi.Members, Model.Multi.MovieList, new
                    {
                        @id = "Members",
                        @class = "select2 form-select",
                        multiple =
                         "multiple",
                        tabindex = "3"
                    })
                <span asp-validation-for="Multi.Members" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
